/* ======= Global Styles ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #dee3f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ======= Dashboard Layout ======= */
.dashboard-container {
  width: 1200px;
  height: 100%;
  display: flex;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

/* ======= Sidebar ======= */
.sidebar {
  width: 220px;
  background: #f8f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-right: 1px solid #e0e4f2;
}

.sidebar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4b4ded;
  margin-bottom: 70px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 50px 0;
  font-size: 0.95rem;
  color: #7a7f9a;
  cursor: pointer;
  transition: 0.3s ease;
}


.sidebar ul li a{
  text-decoration: none;
}


.sidebar ul li i{
  padding-right: 10px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  color: #4b4ded;
  font-weight: 600;
}


/* ======= Main Content ======= */
.main {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h2 {
  font-size: 1.5rem;
   color: #571084;
}

.main-header small {
  font-size: 1rem;
  color: #6e78ae;
}

.main-header img{
  height: 80px;
  width: 80px;
}

/*=== progress section === */
.chart-section {
  margin-top: 25px;
  background: #ebeefe;
  border-radius: 20px;
  padding: 20px 25px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.03);
}

.chart-section h2 {
  color: #4b4ded;
  font-size: 1.7rem;
   margin-top: 10px; 
}

.chart-section p {
  color: #505076;
  font-size: 1rem;
  margin-bottom:3rem;
}

.progrss-bar h3{
  color: #571084;
  font-size: 1rem;
}

.bar-bg {
width: 100%;
height: 15px;
background: #fff;
border-radius: 10px;
margin: 15px 0;
}


.bar-fill {
width: 75%;
height: 100%;
background:#5a6bec;
border-radius: 10px;
}

/* ======= Cards (Bottom Stats) ======= */
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 15px;
}

.card {
  flex: 1;
  background: #ffffff;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(75, 77, 237, 0.08);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h4 {
  color:#8585a7;
  font-size: 1.1rem;
}

.card p {
  font-weight: 400;
  color:#4b4ded;
  font-size: 1rem;
  margin-top: 5px;
}

/* ======= Right Panel ======= */
.right-panel {
  width: 260px;
  background: #f8f9ff;
  padding: 25px 20px;
  border-left: 1px solid #e0e4f2;
  display: flex;
  flex-direction: column;
  gap : 20px;
}

.Goals h4 {
  margin-top: 10px;
 color: #571084;
  font-size: 1.3rem;
}

.Goals h4 i{
  color: #063cff;
  font-size: 20px;
  margin-left: 20px;
}

/* ======= Info Boxes ======= */
.info-box {
  background: #ffffff;
  border-radius: 15px;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(75, 77, 237, 0.08);
}

.info-box h5 {
  font-size: 0.9rem;
  color: #7a7f9a;
}

.info-box p {
  color: #4b4ded;
  font-weight: 600;
  font-size: 1.1rem;
}

.goal-container {
    display: none; /* hide initially */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 500px;
    padding: 25px;
    border-radius: 35px;
    box-shadow: 0 8px 25px rgba(60, 77, 231, 0.295);
}

.header{
  display: flex;
  justify-content: space-between;
  
}

.header i{
  font-size: 14px;
  color: gray;
  right: 0;
  top: 0;
}

.header h2 {
    color: #4b4ded;
    font-weight: 500;
    text-align: center;
    flex: 1;
}

.goal-container ul{
  list-style: none;
}

#goalList{
  padding:25px 5px ;
  margin-bottom: 1rem;
}

#goalList li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#goalList input{
  color: #571084;
  padding: 3px 10px;
  border: 1px solid #063cff;
  border-radius:7px ;
  width: 100%;
}

.goal-btn{
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
}

.goal-btn button{
  padding: 3px 10px;
}



/*===== Responsive Design===== */

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
    width: 95%;
  }
  .sidebar, .right-panel {
    width: 100%;
    border: none;
  }
}
