/* ======= Global Styles ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
   background: #f4f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;}

/* ======= Dashboard Layout ======= */
.container {
   width: 1200px;
  height: 100%;
  display: flex;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

/* ======= Sidebar ======= */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #f8f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-right: 1px solid #e0e4f2;
}

.sidebar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4b4ded;
  margin-bottom: 70px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 50px 0;
  font-size: 0.95rem;
  color: #7a7f9a;
  cursor: pointer;
  transition: 0.3s ease;
}


.sidebar ul li a{
  text-decoration: none;
}


.sidebar ul li i{
  padding-right: 10px;
  font-size: 20px;
  color: #571084;
}

.sidebar ul li:hover,
.sidebar ul li.active {
   color: #571084;
  font-weight: 600;
}


/* ======= Main Content ======= */
.main {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: space-between;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h2 {
  font-size: 1.5rem;
   color: #571084;
}

.main-header small {
  font-size: 1rem;
  color: #6e78ae;
}

.main-header img{
  height: 70px;
  width: 70px;
}

/*=== progress section === */
.chart-section {
  background: #ebeefe;
  border-radius: 20px;
  padding: 20px 25px;
  box-shadow: 0 4px 12px rgba(6, 6, 111, 0.831);
}

.chart-section h2 {
  color: #4b4ded;
  font-size: 1.7rem;
   margin-top: 10px; 
}


.chart-section p {
  color: #505076;
  font-size: 1rem;
  margin-bottom:3rem;
}

.progrss-bar h3{
  color: #571084;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.bar-bg {
width: 100%;
height: 15px;
background: #fff;
border-radius: 10px;
margin: 15px 0;
}


.bar-fill {
width: 75%;
height: 100%;
background:linear-gradient(to right, rgb(79, 48, 250), rgb(172, 44, 231), rgb(103, 19, 163));
border-radius: 10px;
}

/* ======= Cards (Bottom Stats) ======= */
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 20px;
}

.card {
  flex: 1;
  background: #ffffff;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(6, 6, 111, 0.831);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h4 {
  color:#8585a7;
  font-size: 1.1rem;
}

.card p {
  font-weight: 400;
  color:#4b4ded;
  font-size: 1rem;
  margin-top: 5px;
}



/* ================= GOAL SECTION ================ */
.right-panel {
  width: 250px;
  background: #f8f9ff;
  padding: 3rem 1.5rem;
  border-left: 1px solid #e0e4f2;
  display: flex;
  flex-direction: column;
}


.goal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.goal-header h4 {
  color: #571084;
  font-size: 20px;
  font-weight: 600;
}

.add-icon {
  background:#571084;
  padding: 5px 7px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add-icon:hover {
  background:#4b4ded;
}

/* Goal List */
.goal-box {
  list-style: none;
}

.goal-item {
  background: #ffffff;
  padding: 14px 18px;
  margin-bottom: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(6, 6, 111, 0.831);
  transition: transform 0.2s ease;
}

.goal-item:hover {
  transform: translateY(-2px);
}

.goal-text {
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.goal-text strong {
  font-size: 16px;
  font-weight: 600;
  color: #505076;
}

.goal-text small {
  color:#4b4ded;
  font-size: 16px;
  font-weight: 600;
}

.delete-icon {
  cursor: pointer;
  font-size: 18px;
  color: #a8a8b9;
  transition: 0.2s;
}

.delete-icon:hover {
  transform: scale(1.2);
}

/* ================= POPUP (Add Goal) ================ */

.goal-popup,
.delete-popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}

.popup-card,
.delete-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 380px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.popup-header,
.delete-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h2 {
  color: #571084;
  font-size: 20px;
  margin-bottom: 0.6rem;
}

.close-btn {
  color: gray;
  font-size: 18px;
  cursor: pointer;
}

.popup-body label {
  color: #4b4ded;
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
  display: block;
}

.popup-body input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.addGoalBtn {
  padding: 10px;
  margin-top: 18px;
  background: #4b4ded;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.addGoalBtn:hover {
  background: #571084;
}

/* ================= DELETE POPUP ================ */

.delete-card h3 {
  color: #571084;
  font-size: 18px;
  margin-bottom: 20px;
}

.delete-actions {
  display: flex;
  justify-content: space-between;
  gap: 5.5rem;
}

.cancelBtn,
.delBtn {
  padding: 7px 20px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transform: 0.3s;
}

.cancelBtn {
  background: gray;
  color: #fff;
}

.cancelBtn:hover {
  background:#dfdfe0;
  color:#303032;
}

.delBtn {
  background: #e63946;
  color: white;
}

.delBtn:hover {
 background:#dfdfe0;
  color: #e63946;
}


