/* ======= Global Styles ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
   background: #f4f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;}

/* ======= Dashboard Layout ======= */
.container {
   width: 1200px;
  height: 100%;
  display: flex;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

/* ======= Sidebar ======= */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #f8f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-right: 1px solid #e0e4f2;
}

.sidebar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4b4ded;
  margin-bottom: 70px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 50px 0;
  font-size: 0.95rem;
  color: #7a7f9a;
  cursor: pointer;
  transition: 0.3s ease;
}


.sidebar ul li a{
  text-decoration: none;
}


.sidebar ul li i{
  padding-right: 10px;
  font-size: 20px;
  color: #571084;
}

.sidebar ul li:hover,
.sidebar ul li.active {
   color: #571084;
  font-weight: 600;
}


/* ======= Main Content ======= */
.main {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: space-between;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h2 {
  font-size: 1.5rem;
   color: #571084;
}

.main-header small {
  font-size: 1rem;
  color: #6e78ae;
}

.main-header img{
  height: 70px;
  width: 70px;
}

/*=== progress section === */
.chart-section {
  background: #eceefa;
  border-radius: 20px;
  padding: 20px 25px;
  box-shadow: 0 4px 12px rgba(6, 6, 111, 0.831);
}

.chart-section h2 {
  color: #3a3df2;
  font-size: 1.7rem;
   margin-top: 10px; 
}


.chart-section p {
  color: #505076;
  font-size: 1rem;
  margin-bottom:3rem;
}

.progress-bar h3{
  color: #571084;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.bar-bg {
width: 100%;
height: 15px;
background: #fff;
border-radius: 10px;
margin: 15px 0;
}


.bar-fill {
width: 75%;
height: 100%;
background:linear-gradient(to right, rgb(79, 48, 250), rgb(172, 44, 231), rgb(103, 19, 163));
border-radius: 10px;
}

/* ======= Cards (Bottom Stats) ======= */
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 20px;
}

.card {
  flex: 1;
  background: #ffffff;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(6, 6, 111, 0.831);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h4 {
  color:#8585a7;
  font-size: 1.1rem;
}

.card p {
  font-weight: 400;
  color:#4b4ded;
  font-size: 1rem;
  margin-top: 5px;
}



/* ================= GOAL SECTION ================ */
.right-panel {
  width: 250px;
  background: #f8f9ff;
  padding: 3rem 1.5rem;
  border-left: 1px solid #e0e4f2;
  display: flex;
  flex-direction: column;
}

/* Header */
.goal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.goal-header h4 {
  color: #571084;
  font-size: 20px;
  font-weight: 600;
}

.add-icon {
  background:#571084;
  padding: 5px 7px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add-icon:hover {
  background:#4b4ded;
}

/* Goal List */
.goal-box {
  list-style: none;
}

.goal-item {
  background: #ffffff;
  padding: 14px 18px;
  margin-bottom: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(6, 6, 111, 0.831);
  transition: transform 0.2s ease;
}

.goal-item:hover {
  transform: translateY(-2px);
}


.goal-text {
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.goal-text strong {
  font-size: 16px;
  font-weight: 600;
  color: #505076;
}

.goal-text small {
  color:#4b4ded;
  font-size: 16px;
  font-weight: 600;
}

.delete-icon {
  cursor: pointer;
  font-size: 18px;
  color: #a8a8b9;
  transition: 0.2s;
}

.delete-icon:hover {
  transform: scale(1.2);
}


/* Popups */
.popup-overlay {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.616);
  z-index: 1000;
}

.popup-card, .small-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.726);
  animation: fadeIn 0.3s ease;
}


/* Popup Header */
.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h2{
  color: #571084;
  font-size: 20px;
  margin-bottom: 20px;
}

.close-btn {
  font-size: 14px;
  cursor: pointer;
  color: rgb(151, 151, 151);
  padding-bottom: 30px;
}

/* Inputs & Selects */
.popup-body label {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
  color: #3a3df2;
  font-weight: 600;
}

.popup-body input,
.popup-body select {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 8px;
  margin-top: 4px;
  font-size: 14px;
  color: #571084;
}

.popup-body select:focus,
.popup-body input:focus {
  border-color: #3a7afe;  
  box-shadow: 0 0 5px rgba(58, 122, 254, 0.3);
}
 
.primary-btn{
  width: 100%;
  margin-top: 15px;
  padding: 7px;
  background: #571084;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
} 

.primary-btn:hover{
   background: #3a3df2;
  color: #fff;
}


.small-card h3{
  text-align: center;
  margin: 1rem 0;
  color: #571084;
}

.secondary-btn, .danger-btn{
  padding: 7px 20px;
  border-radius: 13px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transform: 0.3s;
  margin-top: 1rem;
}

.secondary-btn{
  background-color: gray;
  color: #fff;
}
  
.secondary-btn:hover{
  background-color: #ddd;
  color: rgb(90, 89, 89);
  font-weight: 600;
}


.danger-btn{
  color: #fff;
  background-color: rgb(211, 8, 8);
}

.danger-btn:hover{
  color:rgb(211, 8, 8);
  font-weight: 600;
  background-color: #ddd;
}

.popup-actions {
  display: flex;
  justify-content: center;
  gap: 5.5rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}


















/* Goal List */





/* ================= POPUP (Add Goal) ================ */
/* Container styling */
/* .popup-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 10px;
}

/* Labels */
/* .popup-body label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
} */

/* Select dropdown */
/* .popup-body select { */
  /* width: 100%;
  padding: 10px 12px;
  border: 1.8px solid #dcdcdc;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  outline: none;
  transition: 0.2s ease;
  cursor: pointer;
} */

/* On focus dropdown */
/* .popup-body select:focus {
  border-color: #3a7afe;  
  box-shadow: 0 0 5px rgba(58, 122, 254, 0.3);
} */

/* Input styling */
/* .popup-body input {
  width: 100%;
  padding: 10px 12px;
  border: 1.8px solid #dcdcdc;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  outline: none;
  transition: 0.2s ease;
} */

/* Focus input */
/* .popup-body input:focus {
  border-color: #3a7afe;
  box-shadow: 0 0 5px rgba(58, 122, 254, 0.3);
} */

/* Add Goal Button */
/* .addGoalBtn {
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  background: #3a7afe;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
} 

.addGoalBtn:hover {
  background: #2f66e0;
}









.popup-header,
.delete-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h2 {
  color: #571084;
  font-size: 20px;
  margin-bottom: 0.6rem;
}

.close-btn {
  color: gray;
  font-size: 18px;
  cursor: pointer;
}

/* .popup-body label {
  color: #4b4ded;
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
  display: block;
}

.popup-body input{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
} */ 

/* #goalName option{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

.addGoalBtn {
  padding: 10px;
  margin-top: 18px;
  background: #4b4ded;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.addGoalBtn:hover {
  background: #571084;
} */

/* ================= DELETE POPUP ================ */

/* .delete-card h3 {
  color: #571084;
  font-size: 18px;
  margin-bottom: 20px;
}

.delete-actions {
  display: flex;
  justify-content: space-between;
  gap: 5.5rem;
}

.cancelBtn,
.delBtn {
  padding: 7px 20px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  transform: 0.3s;
}

.cancelBtn {
  background: gray;
  color: #fff;
}

.cancelBtn:hover {
  background:#dfdfe0;
  color:#303032;
}

.delBtn {
  background: #e63946;
  color: white;
}

.delBtn:hover {
 background:#dfdfe0;
  color: #e63946;
} */ 


