/* ======= Global Styles ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
   background: #f4f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;}

/* ======= Dashboard Layout ======= */
.container {
   width: 1200px;
  height: 100%;
  display: flex;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

/* ======= Sidebar ======= */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #f8f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-right: 1px solid #e0e4f2;
}

.sidebar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4b4ded;
  margin-bottom: 70px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 50px 0;
  font-size: 0.95rem;
  color: #7a7f9a;
  cursor: pointer;
  transition: 0.3s ease;
}


.sidebar ul li a{
  text-decoration: none;
}


.sidebar ul li i{
  padding-right: 10px;
  font-size: 20px;
  color: #571084;
}

.sidebar ul li:hover,
.sidebar ul li.active {
   color: #571084;
  font-weight: 600;
}


/* ======= Main Content ======= */
.main {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: space-between;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h2 {
  font-size: 1.5rem;
   color: #571084;
}

.main-header small {
  font-size: 1rem;
  color: #6e78ae;
}

.main-header img{
  height: 70px;
  width: 70px;
}

/*=== progress section === */
.chart-section {
  background: #ebeefe;
  border-radius: 20px;
  padding: 20px 25px;
  box-shadow: 0 6px 14px rgba(127, 124, 185, 0.37);
}

.chart-section h2 {
  color: #4b4ded;
  font-size: 1.7rem;
   margin-top: 10px; 
}


.chart-section p {
  color: #505076;
  font-size: 1rem;
  margin-bottom:3rem;
}

.progrss-bar h3{
  color: #571084;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.bar-bg {
width: 100%;
height: 15px;
background: #fff;
border-radius: 10px;
margin: 15px 0;
}


.bar-fill {
width: 75%;
height: 100%;
background:#5a6bec;
border-radius: 10px;
}

/* ======= Cards (Bottom Stats) ======= */
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  gap: 15px;
}

.card {
  flex: 1;
  background: #ffffff;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(86, 87, 113, 0.507);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h4 {
  color:#8585a7;
  font-size: 1.1rem;
}

.card p {
  font-weight: 400;
  color:#4b4ded;
  font-size: 1rem;
  margin-top: 5px;
}



/* ================= GOAL SECTION ================ */
.right-panel {
  width: 250px;
  background: #f8f9ff;
  padding: 3rem 1.5rem;
  border-left: 1px solid #e0e4f2;
  display: flex;
  flex-direction: column;
}


.goal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.goal-header h4 {
  color: #571084;
  font-size: 20px;
  font-weight: 600;
}

.add-icon {
  background:#571084;
  padding: 5px 7px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add-icon:hover {
  background:#4b4ded;
}

/* Goal List */
.goal-box {
  list-style: none;
}

.goal-item {
  background: #ffffff;
  padding: 14px 18px;
  margin-bottom: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(6, 6, 111, 0.831);
  transition: transform 0.2s ease;
}

.goal-item:hover {
  transform: translateY(-2px);
}

.goal-text {
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.goal-text strong {
  font-size: 16px;
  font-weight: 600;
  color: #505076;
}

.goal-text small {
  color:#4b4ded;
  font-size: 16px;
  font-weight: 600;
}

.delete-icon {
  cursor: pointer;
  font-size: 18px;
  color: #c5c5db;
  transition: 0.2s;
}

.delete-icon:hover {
  transform: scale(1.2);
}

/* ================= POPUP (Add Goal) ================ */

.goal-popup,
.delete-popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  justify-content: center;
  align-items: center;
}

.popup-card,
.delete-card {
  background: #fff;
  width: 380px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.popup-header,
.delete-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-header h2 {
  font-size: 20px;
  margin: 0;
}

.close-btn {
  font-size: 22px;
  cursor: pointer;
}

.popup-body label {
  font-size: 14px;
  margin-top: 12px;
  display: block;
}

.popup-body input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.addGoalBtn {
  width: 100%;
  padding: 10px;
  margin-top: 18px;
  background: #4a90e2;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.addGoalBtn:hover {
  background: #357acb;
}

/* ================= DELETE POPUP ================ */

.delete-card h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.delete-actions {
  display: flex;
  justify-content: space-between;
}

.cancelBtn,
.delBtn {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.cancelBtn {
  background: #e0e0e0;
}

.delBtn {
  background: #e63946;
  color: white;
}

.delBtn:hover {
  background: #c62828;
}



/* ======= Right Panel ======= */
/* .right-panel {
  width: 260px;
  background: #f8f9ff;
  padding: 25px 20px;
  border-left: 1px solid #e0e4f2;
  display: flex;
  flex-direction: column;
  gap : 20px;
}

.Goals h4 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
 color: #571084;
  font-size: 1.3rem;
  cursor: pointer;
}

.goal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px 14px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(7, 7, 89, 0.61);
}

.goal-text {
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
  color: #4b4ded;
}

.delete-icon {
  cursor: pointer;
  color:gray;
  font-size: 18px;
  transition: 0.2s ease;
}

.delete-icon:hover {
  transform: scale(1.2);
} */


/* ======= Goal Boxes ======= */
/* .goal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 14px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.goal-item strong {
  font-size:18px;
  font-weight: 600;
  color: #5e5e7c;
 
}

.goal-item small{
  font-size: 20px;
  color: #4b4ded;
  font-weight: 600;

}

.goal-item span{
  display: flex;
  flex-direction: column;
}


.delete-icon{
  padding-bottom: 2.3rem;
  cursor: pointer;
  color: #68547e;
  font-size: 16px;
  transition: 0.2s ease;
}

.delete-icon:hover {
  transform: scale(1.2);
} */

/*=== add goal section ===*/
.goal-container {
    display: none; /* hide initially */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 480px;
    padding: 25px;
    border-radius: 35px;
    box-shadow: 0 8px 25px rgba(5, 15, 107, 0.295);
    text-align: center;
}

.header{
  display: flex;
  justify-content: space-between; 
}

.header i{
  font-size: 14px;
  color: rgb(151, 149, 149);
  right: 0;
  top: 0;
  cursor: pointer;
}

.header h2 {
    color: #571084;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}


.addGoal{
  display: flex;
  margin: 1rem 1rem;
  justify-content: space-between;
  align-items: center;
}

.addGoal label{
  font-weight: 600;
  color: #68547e;
}


.addGoal input{
  color: #571084;
  font-weight: 500;
  padding: 5px 10px;
  border: 1.5px solid #bc5cfc;
  border-radius:10px ;
  width: 85%;
}



.addGoal ::placeholder{
  color: rgb(179, 176, 176);
}

.goal-btn button{
  margin-top: 5px;
  padding: 7px 25px;
  border-radius:25px;
  border: none;
  background-color: #8736e4;
  color: white;
  cursor: pointer;
}

/*=== delete goal ===*/
.del-goal{
  display: none; /* hide initially */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 400px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(5, 15, 107, 0.295);
    text-align: center;
}

.del-goal h2{
  color: #571084;
  font-size: 18px;
  margin-bottom: 1rem;
}

.del-btn{
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  
}

.cancelBtn{
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  background-color: #e0e4f2;
  color: rgb(69, 68, 68);
  cursor: pointer;
}

.cancelBtn:hover{
  background-color: rgb(109, 107, 107);
  color: #f6f7f9;
}

.delBtn{
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.delBtn:hover{
  background-color:#e0e4f2 ;
  color: red;
}

