/* ======= Global Styles ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}


body {
    background: #ffff;
    display: flex;
    justify-content: center;
    min-height: 100vh;}

/* =============Notification page============ */
.container {
   width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 10px;
}

/* ======= Sidebar ======= */
.sidebar {
    position: sticky;
    top: 0;
    width: 220px;
    height: 100vh;
    background: #f8f9ff;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding: 25px 20px;
    border-right: 1px solid #e0e4f2;
}

.sidebar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4b4ded;
  margin-bottom: 70px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 50px 0;
  font-size: 0.95rem;
  color: #7a7f9a;
  cursor: pointer;
  transition: 0.3s ease;
}


.sidebar ul li a{
  text-decoration: none;
}


.sidebar ul li i{
  padding-right: 10px;
  font-size: 20px;
  color: #571084;
}

.sidebar ul li:hover,
.sidebar ul li.active {
   color: #571084;
  font-weight: 600;
}


.notification-container {
    flex: 1;
    padding: 0px 8rem;
    overflow-y: auto;
}

nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background: #ffffff;
    margin-bottom: 2rem;
}

h2 {
    padding: 2.7rem 0;
    text-align: center;
    font-size: 26px;
    color: #4b4ded;
    font-weight: 700;
}

.notification {
  padding: 12px 20px;
  border-left: 7px solid #571084;
  background: #faefff;
  margin-bottom: 1.2rem;
  border-radius: 10px;
}

.notification.success {
  border-left-color: green;
  background: #e6fceb;
}

.notification.warning {
  border-left-color: orange;
  background: #fff8e1;
}

.notification.danger {
  border-left-color: rgb(177, 6, 6);
  background: #ffeaea;
}

.time {
  font-size: 14px;
  color: #5e637c;
  margin-top: 5px;
}
