* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body styling */
body {
  background:  rgb(232, 252, 244);
  backdrop-filter: blur(10px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* header */
header {
  color: rgb(12, 99, 105);
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-size: 20px;
}


.back-btn {
  position: absolute;
  left: 20px;
  top: 30px;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
}

/* Main profile container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
  max-width: 1000px;
}

/* Profile card */
.profile-card {
  background:white;
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  width: 100%;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  margin-bottom: 1rem;
}

.username {
  font-size: 2rem;
  font-weight: 600;
  color: #222;
}



/* Stats */
.user-status {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}

.stat {
  background-color: white;
  padding: 20px 60px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}


.stat h3 {
  font-size: 1.5rem;
  color: #333;
  padding-bottom: 5px;
}

.stat p {
  font-size: 1rem;
  color: #666;
}

/* Edit button */
.edit-btn {
    font-size: 16px;
  background: #39a7b6;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.edit-btn:hover {
  color: rgb(12, 57, 60);
  
}

/* Info cards */
.info-card {
  background:white;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  width: 100%;
  padding: 1.5rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-card h2{
     text-align: center;
     font-size: 26px;
     margin-bottom: 1rem; 
     color: rgb(12, 57, 60);
} 

.info-card p,
.info-card li {
        border: 2px solid rgb(108, 104, 104);
        border-radius: 5px;
        padding: 10px 5px;
        font-size: 1rem;
        color: #1e1c1c;
        margin-bottom: 1.5rem;
}

.info-card ul {
  list-style: none;
  padding-left: 0;
}

/* Responsive */
@media (max-width: 600px) {
  .user-stats {
    flex-direction: column;
    gap: 1rem;
  }

  .profile-card {
    text-align: center;
  }
}