/* ======= Global Styles ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ======= Dashboard Layout ======= */
.profile-container {
  width: 1200px;
  height: 100%;
  display: flex;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

/* ======= Sidebar ======= */
.sidebar {
  width: 220px;
  background: #f8f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-right: 1px solid #e0e4f2;
}

.sidebar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4b4ded;
  margin-bottom: 70px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 50px 0;
  font-size: 0.95rem;
  color: #7a7f9a;
  cursor: pointer;
  transition: 0.3s ease;
}


.sidebar ul li a{
  text-decoration: none;
}


.sidebar ul li i{
  padding-right: 10px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
  color: #571084;
  font-weight: 600;
}


/* ======= Main Content ======= */
.main {
  flex: 1;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header h2 {
  font-size: 1.5rem;
  color: #6d7aec;
}

.main-header small {
  font-size: 1rem;
  color: #6e78ae;
}


/* ======= Chart Section ======= */
.profile-card {
  background:#e4e8f6;
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.profile-card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.username{
  color: #571084;
}

.chart-section h3 {
  color: #4b4ded;
  font-size: 1rem;
  margin-bottom: 10px;
}

.user-status {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.stat {
  background-color: white;
  padding: 0.3rem 2.8rem;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}


.stat h3 {
  font-size: 1.2rem;
  color: #4b4ded;
}

.stat p {
  font-size: 1rem;
  color: #666;
} 

.edit-btn {
    font-size: 16px;
  background:#4b4ded;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.edit-btn:hover {
  color: #063cff;
  background-color: #d1dafb;
}

/* Info cards */
.info-card {
  background:#f3f5fe;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  width: 100%;
  padding: .5rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
}

.info-card h2{
     text-align: center;
     font-size: 26px;
     margin-bottom: 1rem; 
     color: #571084
} 

.info-card p{
        border: 2px solid rgb(108, 104, 104);
        border-radius: 5px;
        padding: 5px 5px;
        font-size: 1rem;
        color:#4b4ded;
        margin-bottom: 1rem;
}


/*===== Responsive Design===== */

@media (max-width: 768px) {
  .dashboard-container {
    flex-direction: column;
    width: 95%;
  }
  .sidebar, .right-panel {
    width: 100%;
    border: none;
  }
}



