/* ======= Global Styles ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ======= Dashboard Layout ======= */
.container {
  width: 1200px;
  height: 100%;
  display: flex;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}


/* ======= Sidebar ======= */
.sidebar {
  width: 220px;
  background: #f8f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-right: 1px solid #e0e4f2;
}

.sidebar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4b4ded;
  margin-bottom: 70px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 50px 0;
  font-size: 0.95rem;
  color: #7a7f9a;
  cursor: pointer;
  transition: 0.3s ease;
}


.sidebar ul li a{
  text-decoration: none;
}


.sidebar ul li i{
  padding-right: 10px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
   color: #571084;
  font-weight: 600;
}


/* ======= Main Content ======= */
.main {
 flex: 1;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  gap: 1.5rem; 
}


/* ======= Chart Section ======= */
.profile-card {
  background: #eceefa;
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 6px rgba(5, 5, 52, 0.53);
}

.profile-card img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.username{
  font-size: 20px;
  color: #74209b;
  margin-bottom: 2rem;
}


.user-status {
  display: flex;
  justify-content:space-between;
  margin: 1rem 2rem;
}

.stat {
  background-color: white;
  padding: 0.5rem 3.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}


.stat h3 {
  font-size: 1rem;
  color: #4b4ded;
}

.stat p {
  font-size: .8rem;
  color: #666;
  font-weight: 600;
} 


/* Info cards */
.info-card {
  display: flex; 
  flex-direction: column;
  background: #eceefa;
  border-radius:15px ;
  padding:20px 30px ;
  box-shadow: 0 2px 8px rgba(5, 5, 52, 0.53);
  align-items: center;
  justify-content:space-between;
  
}

.info-card h2{
     text-align: center;
     font-size: 26px;
     margin-bottom: 1rem; 
     color: #74209b;    
} 

.info-card p{
        width: 100%;
        border: 1.5px solid rgb(133, 120, 147);
        border-radius: 5px;
        padding: 3px 10px;
        font-size: 1rem;
        color:#1e22f5;
        margin-bottom: 1rem;
}

.edit-btn {
    margin-top: 1.5rem;
    font-size: 16px;
    background-color: #74209b;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    text-align: center;
    
}

.edit-btn:hover {
  color: #ffffff;
  background:#4b4ded;
}