/* ======= Global Styles ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f4f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ======= Dashboard Layout ======= */
.container {
  width: 1200px;
  height: 100%;
  display: flex;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}


/* ======= Sidebar ======= */
.sidebar {
  width: 220px;
  background: #f8f9ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 20px;
  border-right: 1px solid #e0e4f2;
}

.sidebar .logo {
  font-size: 2rem;
  font-weight: 700;
  color: #4b4ded;
  margin-bottom: 70px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 50px 0;
  font-size: 0.95rem;
  color: #7a7f9a;
  cursor: pointer;
  transition: 0.3s ease;
}


.sidebar ul li a{
  text-decoration: none;
}


.sidebar ul li i{
  padding-right: 10px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
   color: #571084;
  font-weight: 600;
}


/* ======= Main Content ======= */
.main {
 flex: 1;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: space-between;
  gap: 1.5rem;
}


/* ======= Chart Section ======= */
.profile-card {
  background:#d7ddf3;
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 1rem 2rem;
  text-align: center;
  width: 100%;
  height: auto;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  
}

.profile-card img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.username{
  font-size: 20px;
  color: #571084;
}


.user-status {
  display: flex;
  justify-content:space-between;
  margin: 1rem 3rem;
}

.stat {
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  /* text-align: center; */
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}


.stat h3 {
  font-size: 1rem;
  color: #4b4ded;
}

.stat p {
  font-size: .8rem;
  color: #666;
  font-weight: 600;
} 


/* Info cards */
.info-card { 
  background-color: #d7ddf3;
  border-radius:15px ;
  padding:20px 30px ;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content:space-between;
  
}

.info-card h2{
     text-align: center;
     font-size: 26px;
     margin-bottom: 1rem; 
     color: #571084
} 

.info-card p{
        border: 2px solid rgb(108, 21, 121);
        border-radius: 5px;
        padding: 3px 10px;
        font-size: 1rem;
        color:#4b4ded;
        margin-bottom: 1rem;
}

.edit-btn {
   margin-left: 44%;
    font-size: 16px;
  background:#4b4ded;
  color: white;
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  text-align: center;
  align-items: center;
}

.edit-btn:hover {
  color: #ffffff;
  background-color: #532e64;
}


 
