*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
            width: 100%;
            height: 100vh;
            font-family: 'Poppins', sans-serif;
            background: #dee3f1;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
           
        }

.container {
            width: 750px;
            height: 460px;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0px 8px 24px rgb(15, 10, 145);
            overflow: hidden;
}

.left{
    width: 50%;
    height: 100%;
    padding: 50px;
    background-color: #dee3f1;
    background-image: url(images/loginImage.jpg);
    background-position:center;
    background-size: cover;
}

.left h2{
    color: #3f42fa;
    font-size: 28px;
    font-weight:800 ;
    margin-bottom: 5px;
}

.left p{
    color: rgb(76, 68, 131);
    font-size: 16px;
    font-weight: 600;
}

.right{
    height: 100%;
    width: 50%;
    background-color: #cadafd;
    padding: 40px;
    text-align: center;
}

.right h2 {
            margin-bottom: 1.5rem;
            font-size: 26px;
            font-weight: 600;
            color: #1317fd;
        }

        .btn-social {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
        }

        .btn-social button {
            flex: 1;
            padding: 5px 15px;
            border: none;
            border-radius: 9px;
            cursor: pointer;
            background: white;
            font-size: 14px;
        }

        .btn-social button:hover{
            background-color: #3f42fa;
            color: #fff;
        }

        .or {
            text-align: center;
            margin: 10px 0;
            color: #7f7e7e;
            font-weight: 600;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom:10px ;
            border-radius: 10px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        .password-field {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .password-field i {
           color: #0c0f97;
           font-size: 14px;
            position: absolute;
            right: 12px;
            top: 11px;
            cursor: pointer;
        }

        .create-btn {
            
            padding: 9px 20px;
            background: #474af7;
            color: white;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 15px;
        }

        .create-btn:hover {
            background: #4444a8;
        }

        .login-text {
            margin-top: 15px;
            text-align: center;
            color: #555;
            font-size: 16px;
        }

        .login-text a {
            color: #110dfe;
            text-decoration: none;
            font-weight: 600;
        }
