*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
           background: #dee3f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
           
        }



/*=== Login Page ===*/
.Container {
            width: 750px;
            height: 460px;
            display: flex;
            align-items: center;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0px 9px 650px rgb(65, 63, 186);
            overflow: hidden;
}

.left{
    width: 50%;
    height: 100%;
    padding: 50px;
    background-color: #dee3f1;
    background-image: url(images/loginImage.jpg);
    background-position:center;
    background-size: cover;
}

.left h2{
    color: #3f42fa;
    font-size: 28px;
    font-weight:800 ;
    margin-bottom: 5px;
}

.left p{
    color: rgb(76, 68, 131);
    font-size: 16px;
    font-weight: 600;
}

.right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #e6eeff;
    padding: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.right h2{
     margin-bottom: 1.5rem;
            font-size: 26px;
            font-weight: 600;
            color: #3f42fa;
}



        .btn-social {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
        }

        .btn-social button {
            flex: 1;
            padding: 5px 15px;
            border: none;
            border-radius: 9px;
            cursor: pointer;
            background: white;
            font-size: 14px;
            box-shadow: 2px 2px 9px rgb(169, 200, 235);
        }

        .btn-social button:hover{
            background-color: #3f42fa;
            color: #fff;
        }

        .or {
            text-align: center;
            margin: 10px 0;
            color: #7f7e7e;
            font-weight: 600;
        }

        input {
            width: 100%;
            padding: 7px 15px;
            color: #013ee7;
            font-weight: 450;
            margin-bottom:10px ;
            border-radius: 10px;
            border: none;
            font-size: 14px;
            background-color: white;
             box-shadow: 0px 3px 5px rgb(108, 122, 179);
             outline: none;
        }
        input::placeholder{
            color: rgb(161, 161, 161);
            font-weight: 400;
        }



        .password-field {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .password-field i {
           color: #0c0f97;
           font-size: 14px;
            position: absolute;
            right: 12px;
            top: 11px;
            cursor: pointer;
        }

        .create-btn {
            padding: 8px 30px;
            background: #2626fa;
            width: fit-content;
            color: white;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 15px;
        }

        .create-btn:hover {
            background: #4444a8;
        }

        .login-text {
            margin-top: 15px;
            text-align: center;
            color: #555;
            font-size: 16px;
        }

        .login-text a {
            color: #110dfe;
            text-decoration: none;
            font-weight: 600;
        }
